<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <h1>Vue.JS</h1>

    <!-- La navigation -->
    <h2>La navigation</h2>
    <div id="nav">
        <!-- La navigation a la classe active -->
        <!-- Pour empêcher la page de sauter lorsqu'un lien est cliqué 
            nous utilisons le modificateur "prevent" -->
        <nav v-bind:class="active" v-on:click.prevent>
            <!-- Au clique on appelle la métode rendreActif  -->
            <a href="#" class="home" v-on:click="rendreActif('home')">Accueil</a>
            <a href="#" class="projets" v-on:click="rendreActif('projets')">Projets</a>
            <a href="#" class="services" v-on:click="rendreActif('services')">Services</a>
            <a href="#" class="contact" v-on:click="rendreActif('contact')">Contact</a>
        </nav>
    
        <!-- The mustache expression will be replaced with the value of "active".
                It will automatically update to reflect any changes. -->
        <p>Tu as choisis <b>{{active}}</b></p>
        {{ message }}
    </div>

<!-- .......................Formulaire de recherche................ -->
    <h2>Formulaire de recherche</h2>
    <form id="recherche" v-cloak>
        <div class="bar">
            <!-- Create a binding between the searchString model and the text field -->
            <input type="text" v-model="lettreTapee" placeholder="Faites votre recherche" />
        </div>
    
        <ul>        
            <li v-for="article in filteredArticles">
                <a v-bind:href="article.url"><img v-bind:src="article.image" /></a>
                <p>{{article.title}}</p>
            </li>
        </ul>
    
    </form>

    <!-- ..................Components....................... -->
    <h2>Footer</h2><br>
    <div id="footer">
        <footer-marie
        v-for="element in reseauSociaux"
        v-bind:reseau="element"
        v-bind:key="element.id"
        ></footer-marie>
    </div>

    <!-- ........................Checkbox........................ -->
    <h2>Choix</h2>
    <div id="choix">
        <input type="checkbox" v-model="success">
        <input type="text" v-model="choixInput">
        {{ choixInput }}
        <div :class="statutChoix">Tu as coché la case</div>
    </div>



<div id="demo">
    <p>
        Prénom : {{ firstName}} <br>
        Nom : {{ lastName }} <br>
        Modifier votre nom : <input type="text" v-model="fullName">
    </p>    
</div>

<style>
    .success {
        color: green;
    }
    #footer li {
        list-style:none;
    }
</style>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./index.js"></script>
</body>
</html>